@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Welcome to the Top Restaurants in Provo Site";
}


<h4>This site shows the Top 5 Restaurants in Provo</h4>
<br />

<a class="btn btn-primary" asp-action="RestaurantList" >View the List</a>