@*
    Table with suggested restaurants by user
*@
@{
}

@{
    ViewBag.Title = "Movie Suggestions";
}

@model  IEnumerable<Assignment4.Models.ApplicationResponse>

<div>
    <h2>Here are your restaurant suggestions:</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Restaurant Name</th>
                <th>Suggested Dish</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Assignment4.Models.ApplicationResponse x in Model)
            {
            <tr>
                <td>@x.ClientName</td>
                <td>@x.SuggestedRestaurant</td>
                <td>@x.SuggestedDish</td>
                <td>@x.SuggRestPhone</td>
            </tr>
            }
        </tbody>
    </table>
</div>
